* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 200%;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#b1{
    position: absolute;
    background-color: blue;
    top: 450px;
    left: 800px; 
}

#b2{
    position: sticky;
    background-color: green;
    /* top: 40px; */
    top: 0px;
    left:0;
}

#b3{
    background-color: red;
}

#b4{
    position: relative;
    background-color: purple;
    top: 30px;
    left: 400px; 
}

#b5{
    position: fixed;
    background-color:burlywood;
    bottom: 0px;
    right: 0px;
}

#b7 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    left: 800px;
}

#b8{
    position: inherit;
    top:30px;
    left:30px;
    background-color: brown;
    z-index: 1;
}

#b9{
    position: absolute;
    top:60px;
    left:60px;
    background-color:orange;
    z-index: 2;
}

#b11{
    position: absolute;
    background-color: greenyellow;
    z-index: 3;
    top:90px;
    left:90px;
}

#b10{
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 0px;
    right: 0px;
    overflow: scroll;
    /* overflow: hidden; */
}